<div class="forgotpass-wrapper">
  <span class="heading">Forgot Your Password?</span>
  <mat-card>
    <div class="top-card">
      <span class="prompt"
        >Enter your email address and we'll send you a link to reset your
        password.</span
      >
      <label>Email Id</label>
      <input type="email" />
      <button class="reset">
        <span class="reset-text"> Reset Button</span>
      </button>
    </div>
    <button class="create-acc" (click)="goToLogin()">Create Account</button>
  </mat-card>
</div>
