<mat-toolbar class="custom-toolbar">
  <div class="left-section">
    <a [routerLink]="'/home'">
      <img class="logo" src="education.svg" alt="BookStore Logo" />
    </a>

    <span class="title">Bookstore</span>

    <div class="search-bar">
      <mat-icon>search</mat-icon>
      <input matInput placeholder="Search ..." />
    </div>
  </div>

  <div class="right-section">
    <div class="profile">
      <button mat-icon-button [matMenuTriggerFor]="profileMenu">
        <mat-icon>person_outline</mat-icon>
        <span>{{ isLoggedIn ? firstName : "Profile" }}</span>
      </button>
    </div>
    <!-- Mat-Menu Section (Profile and User)  [START]  -->
    <mat-menu #profileMenu="matMenu">
      <ng-container
        *ngTemplateOutlet="isLoggedIn ? loggedInTemplate : loggedOutTemplate"
      ></ng-container>
    </mat-menu>

    <ng-template #loggedOutTemplate>
      <div class="menu-header">
        <p><strong>Welcome</strong></p>
        <p class="subtext">To access account and manage orders</p>
        <button mat-stroked-button color="warn" (click)="goToLogin()">
          Login/Signup
        </button>
      </div>
      <mat-divider></mat-divider>
      <button mat-menu-item disabled>
        <mat-icon>list_alt</mat-icon> My Orders
      </button>
      <button mat-menu-item disabled>
        <mat-icon>favorite_border</mat-icon> Wishlist
      </button>
    </ng-template>

    <ng-template #loggedInTemplate>
      <p class="menu-greeting">Hello {{ fullName }},</p>
      <button mat-menu-item (click)="goToProfile()">
        <mat-icon>person</mat-icon> Profile
      </button>
      <button mat-menu-item (click)="goToOrders()">
        <mat-icon>list_alt</mat-icon> My Orders
      </button>
      <button mat-menu-item (click)="goToWishlist()">
        <mat-icon>favorite_border</mat-icon> My Wishlist
      </button>
      <button mat-menu-item><mat-icon>logout</mat-icon> Logout</button>
    </ng-template>

    <!-- ENDS HERE  MAT-MENU SECTION  -->

    <div class="cart">
      <button mat-icon-button (click)="goToCart()">
        <mat-icon>shopping_cart</mat-icon>
        <span>Cart</span>
      </button>
    </div>
  </div>
</mat-toolbar>
