<div class="login-wrapper">
  <div class="register-container">
    <div class="left-panel">
      <img class="logo" src="Register-Logo.png" alt="Register Logo" />
      <span class="left-panel-text">ONLINE BOOK SHOPPING</span>
    </div>
    <div class="right-panel">
      <mat-card class="register-card">
        <div class="tab-buttons">
          <button
            [ngClass]="{ active: selectedTab === 'login' }"
            (click)="selectedTab = 'login'"
            class="login-button"
          >
            LOGIN
          </button>
          <button
            [ngClass]="{ active: selectedTab === 'signup' }"
            (click)="selectedTab = 'signup'"
            class="signup-button"
          >
            SIGNUP
          </button>
        </div>

        <!-- LOGIN SECTION  -->
        <div *ngIf="isLogin">
          <form [formGroup]="loginForm">
            <br /><label for="Email">Email Id</label><br />
            <mat-form-field appearance="outline">
              <input
                matInput
                placeholder=" "
                id="email"
                formControlName="email"
                type="email"
              />
              <mat-error
                *ngIf="
                  emailControl?.errors &&
                  (emailControl?.touched || emailControl?.dirty)
                "
              >
                <span *ngIf="emailControl?.errors?.['required']"
                  >Email is required</span
                >
                <span *ngIf="emailControl?.errors?.['email']"
                  >Enter a valid email address
                </span>
              </mat-error>
            </mat-form-field>
            <br /><label for="Password">Password</label><br />
            <mat-form-field appearance="outline">
              <input
                matInput
                placeholder=" "
                id="password"
                formControlName="password"
                [type]="showPassword ? 'text' : 'password'"
              />
              <mat-icon
                (click)="showPassword = !showPassword"
                style="cursor: pointer"
                matSuffix
              >
                {{ showPassword ? "visibility" : "visibility_off" }}</mat-icon
              >

              <mat-error
                *ngIf="passwordControl?.touched && passwordControl?.invalid"
              >
                Invalid Password
              </mat-error>
              <mat-hint align="end">Forgot Password?</mat-hint>
            </mat-form-field>
            <button class="red-login" (click)="onLogin()">Login</button>
            <br /><br />
            <div class="or-divider">
              <div class="line"></div>
              <span>OR</span>
              <div class="line"></div>
            </div>
            <br />
            <div class="social-buttons">
              <button class="facebook">Facebook</button>
              <button class="google">Google</button>
            </div>
          </form>
        </div>
        <!-- SIGNUP SECTION -->
        <div *ngIf="isSignup">
          <form [formGroup]="signUpForm">
            <br /><label for="Name">Full Name</label><br />
            <mat-form-field appearance="outline">
              <input
                matInput
                placeholder="Min. 3 letters "
                id="Name"
                formControlName="fullName"
                type="text"
              />

              <mat-error *ngIf="nameControl?.touched && nameControl?.invalid">
                <span *ngIf="nameControl?.errors?.['required']"
                  >Name is required</span
                >
                <span *ngIf="nameControl?.errors?.['minlength']"
                  >Name must be at least 3 characters</span
                >
                <span *ngIf="nameControl?.errors?.['pattern']"
                  >Only letters and spaces allowed</span
                >
              </mat-error>
            </mat-form-field>
            <br /><label>Email Id</label><br />
            <mat-form-field appearance="outline">
              <input
                matInput
                placeholder=" "
                formControlName="email"
                type="email"
              />
              <mat-error
                *ngIf="
                  emailControl?.errors &&
                  (emailControl?.touched || emailControl?.dirty)
                "
              >
                <span *ngIf="emailControl?.errors?.['required']"
                  >Email is required</span
                >
                <span *ngIf="emailControl?.errors?.['email']"
                  >Enter a valid email address
                </span>
              </mat-error>
            </mat-form-field>
            <br /><label for="Password">Password</label><br />
            <mat-form-field appearance="outline">
              <input
                matInput
                placeholder=" "
                id="password"
                formControlName="password"
                [type]="showPassword ? 'text' : 'password'"
              />
              <mat-icon
                (click)="showPassword = !showPassword"
                style="cursor: pointer"
                matSuffix
              >
                {{ showPassword ? "visibility" : "visibility_off" }}</mat-icon
              >
              <mat-error
                *ngIf="passwordControl?.touched && passwordControl?.invalid"
              >
                <span *ngIf="passwordControl?.errors?.['required']"
                  >Password is required</span
                >
                <span *ngIf="passwordControl?.errors?.['minlength']"
                  >Password must be at least 8 characters</span
                >
                <span *ngIf="passwordControl?.errors?.['pattern']"
                  >Min 1 letter, number & special character</span
                >
              </mat-error>
            </mat-form-field>
            <br /><label>Mobile Number</label><br />
            <mat-form-field appearance="outline">
              <input
                matInput
                placeholder=" "
                formControlName="phone"
                type="tel"
              />
              <mat-error
                *ngIf="mobileControl?.touched && mobileControl?.invalid"
              >
                <span *ngIf="mobileControl?.errors?.['required']"
                  >Mobile No. is required</span
                >

                <span *ngIf="mobileControl?.errors?.['pattern']"
                  >Enter 10 digit number</span
                >
              </mat-error>
            </mat-form-field>
            <button class="red-signup" (click)="onSignUp()">Signup</button>
          </form>
        </div>
      </mat-card>
    </div>
  </div>
</div>
