/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-card {
  background-color: white !important;
}

mat-paginator {
  background-color: white !important;
}

/* Override Material Design container color globally */
:root {
  --mdc-filled-text-field-container-color: #f5f5f5; /* or #fff or any other */
  --mat-sys-surface-variant: #f5f5f5; /* fallback override */
}
